<!-- app/views/leaderboard/index.html.erb -->
<h1>Leaderboard</h1>
<table>
  <thead>
    <tr>
      <th>Friend</th>
      <th>Total Points</th>
    </tr>
  </thead>
  <tbody>
    <% @leaderboard.each do |entry| %>
      <tr>
        <td><%= entry[:name] %></td>
        <td><%= entry[:total_points] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
