<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leaderboard Show</title>
  <link rel="stylesheet" href="leaderboard_show.css">
</head>
<body>
  <div class="leaderboard-show-container">
    <h1>Leaderboard Show</h1>
    <!-- Button to Leaderboard Index Page -->
    <a href="<%= leaderboard_index_path %>" class="button">Go to Leaderboard</a>
    <table>
      <thead>
        <tr>
          <th>Friend's Name</th>
          <th>Total Points</th>
        </tr>
      </thead>
      <tbody>
        <% @leaderboard.each do |group| %>
          <% if group.friend %>
            <tr>
              <td><%= group.friend.name %></td>
             <% total_points = group.total_points %>
              <td><%= total_points %></td> <!-- Corrected here -->
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</body>
</html>
