<body>
  <div class="leaderboard-show-container">
    <h1>Leaderboard Show</h1>
    <!-- Buttons to Leaderboard Index Page and Matches Page -->
    <div class="button-container">
      <a href="<%= leaderboard_index_path %>" class="button">Go to Groups</a>
      <a href="<%= matches_path %>" class="button">Go to Matches</a>
    </div>
    <table>
      <thead>
        <tr>
          <th>Friend's Name</th>
          <th>Total Points</th>
        </tr>
      </thead>
      <tbody>
        <% @leaderboard.each do |group| %>
          <% if group.friend %>
            <tr>
              <td><%= group.friend.name %></td>
             <% total_points = group.total_points %>
              <td><%= total_points %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</body>
</html>
