//GROUPS

// Basic styling for the leaderboard container
.leaderboard-show-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Styling for the leaderboard title
h1 {
  text-align: center;
  margin-bottom: 20px;
}

// Styling for the leaderboard cards
.leaderboard-card.group-card {
  width: 50%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

// Styling for the leaderboard header
.leaderboard-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

// Styling for the header text
.leaderboard-header h2, .leaderboard-header h1 {
  margin: 0;
  text-align: center;
  color: black;
}

// Styling for the profile picture
.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
}

// Styling for the team list
.team-list {
  width: 100%;
  margin-top: 10px;
}

// Styling for the progressed section
.progressed {
  text-align: right;
  margin-bottom: 10px;
}

// Styling for individual teams
.team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

// Styling for team names
.team p {
  margin: 0;
  text-align: left;
  flex-grow: 1;
}

// Styling for the checkbox
.progressed-checkbox {
  margin-left: 10px;
}

// Styling for total points
.total-points {
  font-weight: bold;
  margin-top: 10px;
  text-align: right;
  color: red;
}

// Styling for team images
.team img {
  width: 32px; /* Adjust the size as needed */
  height: 32px; /* Adjust the size as needed */
  margin-right: 10px; /* Space between the flag and the team name */
}

// Styling for the leaderboard table
table {
  width: 100%;
  border-collapse: collapse;
}

// Styling for table headers
th {
  padding: 10px;
  background-color: #f0f0f0;
  text-align: left;
}

// Styling for table data cells
td {
  padding: 10px;
}

// Styling for alternating table rows
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
