// leaderboard_show.scss

// Basic styling for the leaderboard container
.leaderboard-show-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

// Styling for the leaderboard title
h1 {
  text-align: center;
  margin-bottom: 20px;
}

// Styling for the button to Leaderboard Index Page
.button {
  display: block;
  width: 150px;
  margin: 0 auto 20px;
  text-align: center;
  padding: 10px;
  background-color: $primary-color;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

// Styling for the leaderboard table
table {
  width: 100%;
  border-collapse: collapse;
}

// Styling for table headers
th {
  padding: 10px;
  background-color: #f0f0f0;
  text-align: left;
}

// Styling for table data cells
td {
  padding: 10px;
}

// Styling for alternating table rows
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
