// groups

// Basic styling for the leaderboard container
.leaderboard-container {
  display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    flex-direction: column;
}

// Styling for the leaderboard title
h1 {
  text-align: center;
  margin-bottom: 20px;
}

// Styling for the button to Leaderboard Index Page
.button {
  display: inline-block;
  width: 150px;
  margin: 0 10px 20px;
  text-align: center;
  padding: 10px;
  background-color: $primary-color;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

// Styling for the leaderboard table
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

// Styling for table headers
th {
  padding: 10px;
  background-color: #f0f0f0;
  text-align: left;
}

// Styling for table data cells
td {
  padding: 10px;
  vertical-align: middle;
}

// Styling for alternating table rows
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

// Styling for the profile pictures
.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

// Styling for the flags
.flag {
  width: 32px;
  height: 32px;
  margin-right: 5px;
  vertical-align: middle;
}

// Styling for the group cards
.group-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px 0;
  padding: 15px;
  width: 50%;
  background-color: #f9f9f9;
}

.leaderboard-header {
  text-align: center;
  margin-bottom: 15px;
}

.team-list {
  margin-top: 15px;
}

.team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.progressed {
  display: flex;
  justify-content: end;

}

.team p {
  margin: 0;
}

.total-points {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

// Styling for the checkboxes
.progressed-checkbox {
  margin-left: 10px;
}

.team-list h3 {
  text-align: center;
  margin-bottom: 10px;
}
