<!-- app/views/groups/index.html.erb -->

<h1>List of Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Multiplier</th>
      <th>Score</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.multiplier %></td>
        <td><%= group.score %></td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
