/* Basic styling */
.leaderboard-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; /* Adjusted for mobile */
  justify-content: space-around;
  align-items: center; /* Center align items */
}

.leaderboard-card {
  width: 100%; /* Take full width on mobile */
  max-width: 300px; /* Limit maximum width for larger screens */
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
}

.leaderboard-header {
  text-align: center;
}

.team-list {
  margin-top: 15px;
}

.team {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

/* Styling for the friend's name */
.leaderboard-header h2 {
  margin: 0;
  font-size: 1.5rem; /* Adjust font size as needed */
}

/* Styling for the group name and multiplier */
.leaderboard-header p {
  margin: 0;
  color: #666;
}

/* Styling for individual team names */
.team p:first-child {
  font-weight: bold;
}

/* Styling for total points */
.total-points {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}
